.experiencia p{
    padding: 20px 0;
}

.experiencia{
    background-color: var(--background-color-2);
    border-radius: 20px;
    margin-top: 120px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    padding: 20px;
}

.linkcolor{
    color: var(--link-color);
}
