footer {
    height: 90px;
    width: 100%;
    margin: 0;
    color: var(--text-button-color);
    background-color: var(--background-button-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div img{
    width: 15px;
}

.footer-flex{
    display: flex;
    align-items: center;
}