:root[data-theme="light"] {
    --theme-color: #fbfbfb;
    --text-color: #0f0f0f;
    --text-color-inverse: #fbfbfb;
    --shadow-color: #0f0f0f;
    --mobile-color:  #3a4460;
    --text-button-color: #fbfbfb;
    --background-button-color: #af599e;
    --background-color-2: rgba(175, 89, 158, 0.3);
    --mobile-text-color: #f7c331;
    --link-color: rgb(33, 33, 158);
    --transition: 0.2s;
}


:root[data-theme="dark"] {
    --theme-color: #0f172a;
    --text-color: rgba(255, 255, 255, 0.87);
    --text-color-inverse: rgba(255, 255, 255, 0.87);
    --shadow-color: #e5e5e5;
    --mobile-color:  #18213e;
    --text-button-color: var(--text-color);
    --background-button-color: #41303d;
    --background-color-2: #554b555d;
    --mobile-text-color: #f7c331;
    --link-color: #b6983d;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    transition: var(--transition);
}

section[id]{
    scroll-margin-top: 100px;
}

body{
    margin: 0 auto;
    background-color: var(--theme-color);
}

main{
    margin: 0 auto;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 28px;
}

footer{
    height: 90px;
    width: 100%;
    background-color: var(--background-button-color);
    color: var(--text-button-color);
    display: flex;
    justify-content: center;
    align-items: center;
}