.perfil-conteiner img{
    min-width: 50px;
    max-width: 400px;
    border-radius: 50%;
    padding-bottom: 20px;
    text-align: center;
}

.perfil-conteiner{
    padding-top: 110px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    text-align: center;
}


.perfil-text li p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.perfil-text button{
    border: none;
    background-color: var(--background-button-color);
    border-radius: 20px;
    padding: 10px 15px;
    color: var(--text-button-color);
    font-size: 20px;
}

.perfil-text button:hover{
    background-color: var(--mobile-text-color);
}