.habilidades{
    max-width: 800px;
    padding: 50px 0;
    text-align: center;
    margin: 0 auto; 
}

.habilidades h2{
    font-size: 32px;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills{
    box-shadow: 0 4px 10px var(--shadow-color);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
    font-size: 25px;
}